@import "../node_modules/bootstrap/scss/functions";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$border-radius: 2rem;

$font-family-sans-serif: "Inter", sans-serif;

.btn {
	--bs-border-width: 0px;
}

$h1-font-size: 5rem;
$h2-font-size: 4rem;

$success: #dd2476;
$info: #ffd1e6;

$accordion-button-active-bg: #2c2c2c; // Custom success color
$accordion-button-active-color: #fff; // Custom info color

$accordion-icon-active-color: #fff; // Updated to custom info color

a:link {
	color: initial; /* Set your initial link color */

	&:hover {
		color: #5e5e5e;
	}
}

.btn2 {
	--bs-btn-hover-bg: rgba(
		255,
		255,
		255,
		0
	) !important; /* Transparent background */
	--bs-btn-hover-border-color: #fff !important; /* White border color */
}

.btn3 {
	--bs-btn-hover-bg: rgba(
		255,
		255,
		255,
		0
	) !important; /* Transparent background */
	--bs-btn-hover-border-color: #5e5e5e !important; /* White border color */
	--bs-btn-hover-color: #5e5e5e !important;
}

.section-bg {
	background-image: url("../images/unityhubbrandbg.jpg"); /* Replace with your image path */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Sticky header styling */
.headerlayer {
	position: sticky;
	top: 0;
	z-index: -1; /* Ensures the header is above other content */
	background-color: #f8f9fa; /* Background color to distinguish the header */
	padding: 10px 0;
}

.headerlayer .interactive {
	position: relative; /* Create a new stacking context */
	z-index: 0; /* Ensure it's above the parent */
}

.card {
	overflow: hidden; /* Prevent the image from overflowing the card */
}

/* Hover zoom effect for card images */
.card-img-top {
	transition: transform 0.3s ease-in-out;
}

.card-img-container {
	height: 250px; /* Set consistent height for the image container */
	width: 100%; /* Ensure the container spans the full card width */
	overflow: hidden; /* Hide the overflow when the image zooms */
}

.card-img-top:hover {
	transform: scale(1.1); /* Zoom in the image slightly */
}

.gradient-icon {
	display: inline-block;
	background: linear-gradient(to right, #ff512f, #dd2476);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	opacity: 1; /* Ensure the navbar is visible from the start */
	transform: translateY(0); /* Navbar starts in place */
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navbar-hidden {
	opacity: 0;
	transform: translateY(-100%);
}

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

.horizontal-gradient {
	@include gradient-x(#ff512f, #dd2476);
}

.horizontal-gradient:hover {
	background: linear-gradient(to right, #bd3f27, #791541);
	color: #f8f9fa !important;
}

.svg-icon {
	fill: white; // Default fill color
	width: 28px;
	height: 28px;
	transition: fill 0.3s ease-in-out;

	&:hover {
		fill: #dd2476; // Hover fill color
	}
}

.btn2 {
	@extend .btn; // Inherit all styles from .btn
	--bs-border-width: 2px; // Set the custom border width
}

.btn3 {
	@extend .btn; // Inherit all styles from .btn
	--bs-border-width: 2px; // Set the custom border width
}

@mixin image-size($width) {
	width: $width;
	height: ($width / 16) * 9;
}

.large-image {
	@include image-size(700px);
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
